@charset "UTF-8";
.container {
  max-width: 100%;
  /*CARD-1*/
  /*Адаптация для комьпютеров*/
  /*Адаптация для телефонов*/
  /*Адаптация для планшетов*/
  /*CARD-2*/
  /*Адаптация для комьпютеров*/
  /*Адаптация для телефонов*/
  /*Адаптация для планшетов*/
  /*CARD-3*/
  /*Адаптация для комьпютеров*/
  /*Адаптация для телефонов*/
  /*Адаптация для планшетов*/
  /*CARD-4*/
  /*Адаптация для комьпютеров*/
  /*Адаптация для телефонов*/
  /*Адаптация для планшетов*/
  /*CARD-5*/
  /*Адаптация для комьпютеров*/
  /*Адаптация для телефонов*/
  /*Адаптация для планшетов*/
  /*CARD-6*/
  /*Адаптация для комьпютеров*/
  /*Адаптация для телефонов*/
  /*Адаптация для планшетов*/
  /*FOOTER*/
  /*Адаптация для комьпютеров*/
  /*Адаптация для телефонов*/
  /*Адаптация для планшетов*/
}
.container .card-1 {
  width: 100%;
  height: 100vh;
  background: url(../img/card-1/backround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .card-1 header {
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
}
.container .card-1 header .header-img-2 {
  width: 380px;
  height: 30px;
}
.container .card-1 .card-1-content {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 40px;
  background: rgb(248, 242, 0);
  margin-top: 264px;
  margin-left: 800px;
}
.container .card-1 .card-1-content h1 {
  margin-top: -10px;
  margin-left: 50px;
  font-family: sans-serif;
  font-size: 62px;
  font-weight: 400;
  line-height: 63.3px;
}
.container .card-1 .card-1-content button {
  margin-top: -20px;
  margin-left: 50px;
  width: 280px;
  height: 80px;
  border: none;
  background: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(248, 242, 0);
}
@media (max-width: 447px) {
  .container .card-1 {
    width: 100%;
    height: 100vh;
    background: url(../img/card-1/backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .container .card-1 header {
    display: flex;
    justify-content: space-around;
  }
  .container .card-1 header .header-img-1 {
    width: 100px;
    height: 20px;
  }
  .container .card-1 header .header-img-2 {
    width: 220px;
    height: 20px;
  }
  .container .card-1 .card-1-content {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 40px;
    background: rgb(248, 242, 0);
    margin-top: 300px;
    margin-left: 80px;
  }
  .container .card-1 .card-1-content h1 {
    margin-top: -10px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }
  .container .card-1 .card-1-content button {
    margin-top: -20px;
    margin-left: 20px;
    width: 200px;
    height: 40px;
    border: none;
    background: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(248, 242, 0);
  }
}
@media (min-width: 447.1px) and (max-width: 769px) {
  .container .card-1 {
    width: 210%;
    height: 100vh;
    background: url(../img/card-1/backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .container .card-1 header {
    display: flex;
    justify-content: space-around;
  }
  .container .card-1 header .header-img-1 {
    width: 100px;
    height: 20px;
  }
  .container .card-1 header .header-img-2 {
    width: 220px;
    height: 20px;
  }
  .container .card-1 .card-1-content {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 40px;
    background: rgb(248, 242, 0);
    margin-top: 150px;
    margin-left: 800px;
  }
  .container .card-1 .card-1-content h1 {
    margin-top: -10px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 40px;
  }
  .container .card-1 .card-1-content button {
    margin-top: -20px;
    margin-left: 20px;
    width: 300px;
    height: 80px;
    border: none;
    background: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(248, 242, 0);
  }
}
.container .card-2 {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card-2 .card-2-content {
  text-align: left;
}
.container .card-2 .card-2-content h1 {
  font-family: sans-serif;
  font-size: 62px;
  font-weight: 400;
  line-height: 63.3px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}
.container .card-2 .card-2-content p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  color: #888888;
  margin-left: 10px;
}
.container .card-2 .card-2-content p span {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  color: aqua;
}
.container .card-2 .card-2-content .card-2-content-box {
  display: flex;
  align-items: center;
  gap: 60px;
}
.container .card-2 .card-2-content .card-2-content-box .card-2-content-box-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 447px) {
  .container .card-2 {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .card-2 .card-2-content {
    text-align: center;
  }
  .container .card-2 .card-2-content h1 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 63.3px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin: 0px;
  }
  .container .card-2 .card-2-content p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 34px;
    color: #888888;
    margin-left: 10px;
  }
  .container .card-2 .card-2-content p span {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    color: aqua;
  }
  .container .card-2 .card-2-content .card-2-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .container .card-2 .card-2-content .card-2-content-box .card-2-content-box-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container .card-2 .card-2-content .card-2-content-box .card-2-content-box-1 img {
    text-align: center;
    width: 100%;
  }
  .container .card-2 .card-2-content .card-2-content-box .card-2-content-box-2 img {
    width: 100%;
  }
}
@media (min-width: 447.1px) and (max-width: 769px) {
  .container .card-2 {
    width: 210%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .card-2 .card-2-content {
    text-align: left;
  }
  .container .card-2 .card-2-content h1 {
    font-family: sans-serif;
    font-size: 62px;
    font-weight: 400;
    line-height: 63.3px;
    color: rgb(0, 0, 0);
    margin-left: 130px;
  }
  .container .card-2 .card-2-content p {
    margin-left: 130px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    color: #888888;
  }
  .container .card-2 .card-2-content p span {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    color: aqua;
  }
  .container .card-2 .card-2-content .card-2-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .container .card-2 .card-2-content .card-2-content-box .card-2-content-box-1 {
    display: flex;
    gap: 27px;
    margin-left: -700px;
  }
  .container .card-2 .card-2-content .card-2-content-box .card-2-content-box-2 {
    margin-left: 600px;
    margin-top: -440px;
  }
}
.container .card-3 {
  background: rgb(0, 0, 0);
  padding: 30px 0px;
}
.container .card-3 .card-3-pattern-1 {
  margin-top: -50px;
}
.container .card-3 .card-3-pattern-1 img {
  width: 100%;
}
.container .card-3 .card-3-pattern-2 {
  margin-bottom: -50px;
}
.container .card-3 .card-3-pattern-2 img {
  width: 100%;
}
.container .card-3 .card-3-content .card-3-content-inf {
  margin-left: 200px;
}
.container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-box {
  display: flex;
  align-items: center;
  gap: 40px;
}
.container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-box h1 {
  font-family: sans-serif;
  font-size: 62px;
  font-weight: 400;
  line-height: 63.3px;
  color: rgb(255, 255, 255);
}
.container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-p p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  color: rgb(255, 255, 255);
}
.container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-p span {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  color: aqua;
}
.container .card-3 .card-3-content .card-3-content-box {
  display: flex;
  margin-left: 200px;
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp {
  margin-top: 70px;
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  color: rgb(255, 255, 255);
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-line {
  width: 460px;
  height: 1px;
  background: rgb(119, 119, 119);
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 {
  margin-top: 100px;
  width: 460px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 h1 {
  margin-top: -80px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 p {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.06px;
  color: rgb(255, 255, 255);
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-btn {
  margin-top: 30px;
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-btn button {
  width: 190px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(248, 242, 0);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  color: rgb(0, 0, 0);
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display input[type=checkbox] {
  width: 20px;
  height: 20px;
  background-color: #454545;
  border: 2px solid #007bff;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display input[type=checkbox]:checked {
  background-color: #007bff;
  border-color: #0056b3;
}
.container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display p {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.06px;
  color: rgb(255, 255, 255);
}
@media (max-width: 447px) {
  .container .card-3 {
    width: 100%;
    background: rgb(0, 0, 0);
    padding: 200px 0px;
  }
  .container .card-3 .card-3-pattern-1 {
    margin-top: -210px;
  }
  .container .card-3 .card-3-pattern-1 img {
    width: 100%;
  }
  .container .card-3 .card-3-pattern-2 {
    margin-bottom: -210px;
  }
  .container .card-3 .card-3-pattern-2 img {
    width: 100%;
  }
  .container .card-3 .card-3-content .card-3-content-inf {
    margin-left: 20px;
  }
  .container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-box {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-box h1 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 63.3px;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-p p {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-p span {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 34px;
    color: aqua;
  }
  .container .card-3 .card-3-content .card-3-content-box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .container .card-3 .card-3-content .card-3-content-box img {
    width: 100%;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp {
    margin-top: 70px;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp p {
    font-family: sans-serif;
    font-size: 186x;
    font-weight: 300;
    line-height: 21.09px;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-line {
    width: 90%;
    height: 1px;
    background: rgb(119, 119, 119);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 {
    margin-top: 100px;
    margin-left: -40px;
    width: 460px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 img {
    width: 80%;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 h1 {
    margin-top: -80px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-btn {
    margin-top: 30px;
    margin-left: 100px;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-btn button {
    width: 190px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(248, 242, 0);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    color: rgb(0, 0, 0);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 50px;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display input[type=checkbox] {
    width: 20px;
    height: 20px;
    background-color: #454545;
    border: 2px solid #007bff;
    border-radius: 4px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display input[type=checkbox]:checked {
    background-color: #007bff;
    border-color: #0056b3;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-2 {
    margin-left: -40px;
  }
}
@media (min-width: 447.1px) and (max-width: 769px) {
  .container .card-3 {
    width: 210%;
    background: rgb(0, 0, 0);
    padding-top: 200px;
  }
  .container .card-3 .card-3-pattern-1 {
    margin-top: -210px;
  }
  .container .card-3 .card-3-pattern-1 img {
    width: 100%;
  }
  .container .card-3 .card-3-pattern-2 {
    margin-top: 300px;
  }
  .container .card-3 .card-3-pattern-2 img {
    width: 100%;
  }
  .container .card-3 .card-3-content .card-3-content-inf {
    margin-left: 20px;
  }
  .container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-box {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-box h1 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 63.3px;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-p p {
    text-align: left;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-inf .card-3-content-inf-p span {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 34px;
    color: aqua;
  }
  .container .card-3 .card-3-content .card-3-content-box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .container .card-3 .card-3-content .card-3-content-box img {
    width: 100%;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp {
    margin-top: 70px;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp p {
    font-family: sans-serif;
    font-size: 186x;
    font-weight: 300;
    line-height: 21.09px;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-line {
    width: 40%;
    height: 1px;
    background: rgb(119, 119, 119);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 {
    margin-top: 100px;
    margin-left: -40px;
    width: 460px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 img {
    width: 80%;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 h1 {
    margin-top: -80px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-inp2 p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-btn {
    margin-top: 30px;
    margin-left: 100px;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-btn button {
    width: 190px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(248, 242, 0);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    color: rgb(0, 0, 0);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 50px;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display input[type=checkbox] {
    width: 20px;
    height: 20px;
    background-color: #454545;
    border: 2px solid #007bff;
    border-radius: 4px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display input[type=checkbox]:checked {
    background-color: #007bff;
    border-color: #0056b3;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-1 .card-3-content-box-1-display p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    color: rgb(255, 255, 255);
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-2 {
    margin-left: 600px;
    margin-top: -600px;
  }
  .container .card-3 .card-3-content .card-3-content-box .card-3-content-box-2 img {
    width: 800px;
    height: 450px;
  }
}
.container .card-4 {
  padding: 100px 0px;
  background: rgb(248, 242, 0);
}
.container .card-4 .card-4-content {
  display: flex;
  justify-content: space-around;
}
.container .card-4 .card-4-content .card-4-content-l {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .card-4 .card-4-content .card-4-content-l .card-4-content-l-img-1 {
  width: 624px;
  height: 430px;
}
.container .card-4 .card-4-content .card-4-content-l .card-4-content-l-img-2 {
  width: 540px;
  height: 80px;
}
.container .card-4 .card-4-content .card-4-content-r .card-4-content-r-inf h1 {
  font-family: sans-serif;
  font-size: 62px;
  font-weight: 400;
  line-height: 63.3px;
  font-size: 62px;
  color: rgb(0, 0, 0);
}
.container .card-4 .card-4-content .card-4-content-r .card-4-content-r-inf p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  color: rgb(0, 0, 0);
}
.container .card-4 .card-4-content .card-4-content-r .card-4-content-r-logos .card-4-content-r-logos-0 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .card-4 .card-4-content .card-4-content-r .card-4-content-r-logos .card-4-content-r-logos-0 img {
  width: 32px;
  height: 32px;
}
.container .card-4 .card-4-content .card-4-content-r .card-4-content-r-logos .card-4-content-r-logos-0 p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: rgb(0, 0, 0);
}
.container .card-4 .card-4-content .card-4-content-r .card-4-content-r-btn button {
  width: 195px;
  height: 60px;
  border: none;
  background: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  color: rgb(248, 242, 0);
}
@media (max-width: 447px) {
  .container .card-4 {
    padding: 100px 0px;
    background: rgb(248, 242, 0);
  }
  .container .card-4 .card-4-content {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
  }
  .container .card-4 .card-4-content .card-4-content-l {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container .card-4 .card-4-content .card-4-content-l .card-4-content-l-img-1 {
    margin-left: 30px;
    width: 80%;
    height: 40vh;
  }
  .container .card-4 .card-4-content .card-4-content-l .card-4-content-l-img-2 {
    width: 80%;
    height: 50px;
    margin-left: 30px;
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-inf h1 {
    font-family: sans-serif;
    font-size: 62px;
    font-weight: 400;
    line-height: 50px;
    font-size: 45px;
    color: rgb(0, 0, 0);
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-inf p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(0, 0, 0);
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-logos .card-4-content-r-logos-0 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-logos .card-4-content-r-logos-0 img {
    width: 20px;
    height: 20px;
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-logos .card-4-content-r-logos-0 p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(0, 0, 0);
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-btn button {
    width: 100px;
    height: 30px;
    border: none;
    background: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 21.09px;
    color: rgb(248, 242, 0);
  }
}
@media (min-width: 447.1px) and (max-width: 769px) {
  .container .card-4 {
    width: 210%;
    padding: 100px 0px;
    background: rgb(248, 242, 0);
  }
  .container .card-4 .card-4-content {
    padding: 0px 20px;
    display: flex;
  }
  .container .card-4 .card-4-content .card-4-content-l {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container .card-4 .card-4-content .card-4-content-l .card-4-content-l-img-1 {
    margin-left: 30px;
    width: 624px;
    height: 430px;
  }
  .container .card-4 .card-4-content .card-4-content-l .card-4-content-l-img-2 {
    width: 540px;
    height: 80px;
    margin-left: 30px;
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-inf h1 {
    font-family: sans-serif;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    font-size: 62px;
    color: rgb(0, 0, 0);
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-inf p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    color: rgb(0, 0, 0);
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-logos .card-4-content-r-logos-0 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-logos .card-4-content-r-logos-0 img {
    width: 32px;
    height: 32px;
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-logos .card-4-content-r-logos-0 p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(0, 0, 0);
  }
  .container .card-4 .card-4-content .card-4-content-r .card-4-content-r-btn button {
    width: 195px;
    height: 60px;
    border: none;
    background: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    color: rgb(248, 242, 0);
  }
}
.container .card-5 .card-5-content {
  width: 100%;
  display: flex;
}
.container .card-5 .card-5-content .card-5-content-l {
  width: 50%;
  height: 85vh;
  background: url(../img/card-5/backround.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .card-5 .card-5-content .card-5-content-r {
  width: 50%;
  height: 85vh;
  padding-left: 30px;
  background: rgb(0, 0, 0);
}
.container .card-5 .card-5-content .card-5-content-r h1 {
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 50px;
  color: rgb(255, 255, 255);
}
.container .card-5 .card-5-content .card-5-content-r h3 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  color: rgb(82, 190, 220);
}
.container .card-5 .card-5-content .card-5-content-r .card-5-content-r-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .card-5 .card-5-content .card-5-content-r .card-5-content-r-box img {
  width: 32px;
  height: 32px;
}
.container .card-5 .card-5-content .card-5-content-r .card-5-content-r-box p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: rgb(255, 255, 255);
}
@media (max-width: 447px) {
  .container .card-5 .card-5-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container .card-5 .card-5-content .card-5-content-l {
    width: 100%;
    height: 200px;
    background: url(../img/card-5/backround.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container .card-5 .card-5-content .card-5-content-r {
    width: 100%;
    padding-left: 0px;
    background: rgb(0, 0, 0);
    padding-bottom: 30px;
  }
  .container .card-5 .card-5-content .card-5-content-r h1 {
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(255, 255, 255);
  }
  .container .card-5 .card-5-content .card-5-content-r h3 {
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28.13px;
    color: rgb(82, 190, 220);
  }
  .container .card-5 .card-5-content .card-5-content-r .card-5-content-r-box {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .container .card-5 .card-5-content .card-5-content-r .card-5-content-r-box img {
    width: 24px;
    height: 24px;
  }
  .container .card-5 .card-5-content .card-5-content-r .card-5-content-r-box p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.09px;
    color: rgb(255, 255, 255);
  }
  .container .card-5 .card-5-content .card-5-content-r .card-5-content-r-x img {
    margin-left: 20px;
    width: 300px;
    height: 130px;
  }
}
@media (min-width: 447.1px) and (max-width: 769px) {
  .container .card-5 .card-5-content {
    width: 210%;
    display: flex;
  }
  .container .card-5 .card-5-content .card-5-content-l {
    width: 100%;
    height: 100vh;
    background: url(../img/card-5/backround.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container .card-5 .card-5-content .card-5-content-r {
    width: 100%;
    height: 100vh;
    padding-left: 0px;
    background: rgb(0, 0, 0);
    padding-bottom: 0px;
  }
  .container .card-5 .card-5-content .card-5-content-r h1 {
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    color: rgb(255, 255, 255);
  }
  .container .card-5 .card-5-content .card-5-content-r h3 {
    margin-left: 24px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28.13px;
    color: rgb(82, 190, 220);
  }
  .container .card-5 .card-5-content .card-5-content-r .card-5-content-r-box {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .container .card-5 .card-5-content .card-5-content-r .card-5-content-r-box img {
    width: 24px;
    height: 24px;
  }
  .container .card-5 .card-5-content .card-5-content-r .card-5-content-r-box p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.09px;
    color: rgb(255, 255, 255);
  }
  .container .card-5 .card-5-content .card-5-content-r .card-5-content-r-x img {
    margin-left: 20px;
    width: 200px;
    height: 100px;
  }
}
.container .card-6 {
  width: 100%;
  height: 10vh;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.container .card-6 .card-6-1 {
  display: flex;
  gap: 50px;
}
.container .card-6 .card-6-2 {
  display: flex;
  gap: 50px;
}
.container .card-6 .card-6-2 p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: rgb(0, 0, 0);
}
@media (max-width: 447px) {
  .container .card-6 {
    width: 100%;
    height: 60vh;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
  }
  .container .card-6 .card-6-1 {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .container .card-6 .card-6-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    background: rgb(230, 230, 230);
  }
  .container .card-6 .card-6-2 p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(0, 0, 0);
  }
}
@media (min-width: 447.1px) and (max-width: 769px) {
  .container .card-6 {
    width: 210%;
    height: 10vh;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
  }
  .container .card-6 .card-6-1 {
    display: flex;
    gap: 100px;
  }
  .container .card-6 .card-6-2 {
    display: flex;
    gap: 100px;
  }
  .container .card-6 .card-6-2 p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    color: rgb(0, 0, 0);
  }
}
.container footer {
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container footer p {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: rgb(255, 255, 255);
}
@media (max-width: 447px) {
  .container footer {
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container footer p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    color: rgb(255, 255, 255);
  }
}
@media (min-width: 447.1px) and (max-width: 769px) {
  .container footer {
    width: 210%;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container footer p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    color: rgb(255, 255, 255);
  }
}/*# sourceMappingURL=style.css.map */